#carousel {
    width: 500px;
    margin: 20px auto;
    position: relative;
}

.pic {
    max-width: 100%;
    display: none;
}

.pic img {
    max-width: 100%;
    border-radius: 20px;
}

.active {
    display: block;
}



#next {
    border-radius: 50%;
    background-color: #B2B2B2;
    position: absolute;
    bottom: 10px;
    right: 49%;
    padding: 10px;
    cursor: pointer;
    color: #3C4048;
}

#next:hover {
    background-color: #3C4048;
    color: #fff;
}

.hidden {
    display: none;
}

