body{
    background-color: #D6E4E5;
}

#carousel {
    width: 500px;
    margin: 100px auto;
    position: relative;
}

.pic {
    width: 500px;
    height: 300px;
    display: none;
}

.pic img {
    /* max-width: 100%; */
    width: 500px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.active {
    display: block;
}



.navbtn {
    border-radius: 50%;
    background-color: rgba(214, 228, 229, 0.7);
    position: absolute;
    padding: 8px;
    cursor: pointer;
    color: #497174;
}

#next {
    bottom: 10px;
    right: 49%;
}

#prev {
    top: 10px;
    right: 49%;
}

.navbtn:hover {
    background-color: rgb(73, 113, 116);
    color: #EB6440;
}

.hidden {
    display: none;
}

